#aloqa {
    width: 100%;
    height: 800px;
}

.aloqa h2 {
    width: 1632px;
    font-size: 64px;
    color: #222222;
    font-weight: 600;
}

.fon {
    width: 1670px;
    height: 710px;
    background: url(./images/fon.png) no-repeat;
    display: flex;

}

.login {
    display: flex;
    padding-top: 3pc;
    margin-left: 4pc;
     gap: 4.5pc;
}

.login-left-input {
    width: 348px;
    height: 64px;
    padding-left: 1pc;

}

.login-right-input {
    width: 344px;
    height: 64px;

    padding-left: 5pc;
}

.coment {
    margin-left: 4pc;
}

.coment input {
    width: 761px;
    height: 217px;
}

.inputs::placeholder {
    transform: translate(1pc, -4pc);
}

.tugmalar {
    height: 80px;
    display: flex;
    gap: 2.5pc;
    margin-left: 4pc;
}

.tugmalar h3 {
    color: #FFFFFF;
    margin-top: 1pc;
}

.tugmalar button {
    width: 149px;
    height: 27px;
    background: white;
    margin-top: 1pc;
    border-radius: 15px;
}

.resent {
    margin-left: 4pc;
    display: flex;
    gap: 7pc;
}

.resent button {
    width: 300px;
    height: 56px;
    background: #1D3485;
    color: #FFFFFF;
    border-radius: 15px;
    margin-top: 5px;
}

.p {
    color: #FFFFFF;
    margin-left: 4pc;
    margin-top: 2pc;
}

.media {
    margin-top: 10pc;
    margin-left: 10pc;
}

.media h1 {
    color: #FFFFFF;
    display: flex;
    gap: 1pc;
}

.mail {
    transform: translate(0, 1px);
}

.media h6 {
    color: #FFFFFF;
    font-size: 37px;
    display: flex;
    gap: 1pc;
    transform: translate(0, pc);
}


.aloqa-info{
    display: grid;
    margin-top: 100px;
}
.social-media{
    margin-top: 2pc;
}