* {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-top: 50px;
    margin-left: 80px;
}

.nav-cont {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    margin-left: 350px;
}

.hero {
    width: 874px;
    display: flex;
    margin-top: 120px;
    margin-left: 80px;
    font-size: 30px;
    font-size: 39px;
    color: #1D3485;
}

.hero-list {
    margin-top: 28px;
    margin-left: 80px;
    display: flex;
  
}

.hero-logo {
    margin-top: -450px;
    margin-left: 750px;
    
}

.hero-logo-mhg {
    display: flex;
    gap: 30px;
    margin-left: 80px;
}

.hero-list-mk {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-hj {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-lk {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-ds {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-er {
    margin-top: 25px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}