* {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-top: 50px;
    margin-left: 80px;
}

.nav-cont {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 700px;
}

.nav-cont img {
    margin-top: -10px;
}

.hero {
    display: flex;
    margin-top: 200px;
    margin-left: 80px;
    font-size: 20px;
    gap: 20px;
    color: #1D3485;
}

.hero-list {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-logo {
    margin-top: -450px;
    margin-left: 900px;
}

.hero-logo-mhg {
    display: flex;
    gap: 30px;
    margin-left: 80px;
}

.hero-list-mk {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-hj {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-lk {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-ds {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}

.hero-list-er {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    gap: 20px;
}